@page "/"
@page "/todo"

<h3>Todo (@todos?.Count(t => !t.IsDone))</h3>


@if (todos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var todo in todos)
        {
            <li hidden="@(todo.IsDone && !showAll)">
                <input type="checkbox" @bind="todo.IsDone" />
                <input type="text" @bind="todo.Title" />
                <button type="button" @onclick="() => DeleteTodo(todo)">Delete</button>
            </li>
        }
    </ul>
    <button @onclick="showAllItem">@(!showAll ? "Show All" : "Hide done")</button>
    <br />

    <input placeholder="Something todo" @bind="newTodoTitle" />
    <button @onclick="AddTodo">Add Todo</button>
}

